.header {
  background-color: #CDCDC1;
}

.header__avatar {
  margin-top: 30px;
  margin-left: 40px;
  display: flex;
}

.header__name {
  line-height: 0px;
  margin-bottom: 60px;
  margin-left: 40px;
}

.name  {
  font-size: 30px;
  flex: 1;
  margin-left: 10px;
  margin-top: 20px;
  font-family: 'Tangerine', cursive;
}

.header__title {
  flex: 1;
  margin-top: -40px;
  margin-left: 40px;
  font-family: 'Tangerine', cursive;
}

.header__network {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.stack {
  line-height: 0px;
  margin-bottom: 10px;
  margin-top: 80px;
}

.stack > p {
  margin-top: -15px;
}

.logo {
  margin-right: 10px;
}
