.container__colege {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}


.container__colege__ {
	display: flex;
	height: 190px;
	margin-left: 25px;
  margin-bottom: 15px;
}