* {
  box-sizing: content-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #CDCDC1;
    justify-content: space-evenly;
  }
  
  /* The grid container */
  .grid-container {
    display: grid;
    grid-template-areas:
      "left left middle middle right right"
    /* grid-column-gap: 10px; - if you want gap between the columns */
  }

  
  .left,
  .middle,
  .right {
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Style the left column */
  .left {
    grid-area: left;
    min-width: 450px;
  }
  
  .nome{
      margin-left: 50px;
      font-size: 30;
      font-style: italic;
      margin-top: 5px;
  }
  
  .titulo__cargo {
      font-size: 14px;
      margin-left: 30px;
      margin-top: -20px;
  }
  
  /* Style the middle column */
  .middle {
    grid-area: middle;
  }

  
  /* Style the right column */
  .right {
    grid-area: right;
    min-width: 450px;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .grid-container {
      grid-template-areas:
        "left left left left left left"
        "middle middle middle middle middle middle"
        "right right right right right right";
    }
  }