.container__destaques {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}


.container__destaques__ {
	display: flex;
	height: 120px;
	margin-left: 25px;
  margin-bottom: 15px;
}