.grid__cabecalho {
  display: grid;
  grid-template-areas: "left left middle middle right right";
  /* grid-column-gap: 10px; - if you want gap between the columns */
  font-family: "Indie Flower", cursive;
    font-size: 15px;
  
}

.cabecalho__left{
  padding: 15px;
}

.cabecalho__left__dados {
  margin-top: -40px;
}



.cabecalho__left__titulo__cargo {
  margin-top: -20px;
}



.cabecalho__middle {
  width: 500px;
}


.stack {
  line-height: 0px;
  margin-top: 70px;
  font-size: 15px;
  display: block;
  width: 250px;
  background-color: red;
}

.stack > p {
  margin-top: -15px;
}



